.users {
    padding: 5px;
    &__list {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        gap: 15px;
        justify-content: center;
    }
    &__pagination {
        margin: 25px 0 5px;
        button {
            font-family: 'Roboto', sans-serif;
            border: none;
            font-weight: 300;
            cursor: pointer;
            background-color: transparent;
            font-size: 20px;
            &.active {
                font-weight: 800;
            }
        }
    }
}
.user {
    max-width: 130px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 5px;
    &__avatar {
        flex: 0 0 50%;
        img {
            width: 100%;
        }
    }
    &__info {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
        row-gap: 10px;
        &__fullname {
            overflow-wrap: break-word;
            height: 100%;
        }
        button {
            background-color: rgb(19, 174, 19);
            border: none;
            padding: 8px;
            border-radius: 5px;
            color: white;
            font-size: 14px;
            text-transform: uppercase;
            cursor: pointer;
        }
        &__unfollow-btn {
            background-color: rgb(113, 19, 19) !important;
        }
    }
}