.main {
    border-radius: 10px;
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    &__content {
        background-color: #fff;
        padding: 10px;
    }
}