.app {
  text-align: center;
}
.app button {
  cursor: pointer;
}
.app__wrapper {
  display: flex;
  min-height: calc(100vh - 100px);
}
.app__wrapper__content {
  display: flex;
  width: 90%;
  background-color: #EDF2F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  row-gap: 30px;
}
.app__wrapper__friends-bar {
  background-color: rgb(231, 231, 252);
  width: 100px;
  min-width: 100px;
  min-height: 100%;
}
@media (max-width: 600px) {
  .app__wrapper__friends-bar {
    display: none;
  }
  .app__wrapper__content {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
  }
}